*{
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}
body{
    background-color: white;
    color: #1a1b1f;
}
.container-fluid{
    width: 100%;
}
.container{
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}
.btn-text{
    line-height: 1.25rem;
    font-size: 0.75rem;
    letter-spacing: 0.125rem;
    word-spacing: 0.125rem;
    color: #fff;
}
label{
    color: #c09;
    line-height: 20px;
    font-size: 12px;
    font-weight: 500;
    letter-spacing: 1px;
    word-spacing: 1px;
    opacity: 0.7;
}
.button-orange{
    display: block;
    height: auto;
    width: auto;
    background-color: #f90;
    border: none;
    margin: 0px auto;
    padding: 1rem 2.1875rem;
    border-radius: 5px;   
}
#back-to-top{
    display: inline-block;
    background-color: #333;
    width: 50px;
    height: 50px;
    text-align: center;
    border-radius: 4px;
    position: fixed;
    bottom: 30px;
    right: 30px;
    transition: background-color .3s, opacity .5s, visibility .5s;
    opacity: 0;
    visibility: hidden;
    z-index: 1000;
}
#back-to-top i{
    font-weight: 700;
    font-size: 2em;
    line-height: 50px;
    color: #fff;
}
#back-to-top:hover{
    cursor: pointer;
    background-color: #f90;
}
#back-to-top:active{
    background-color: #f90a;
}
#back-to-top.show{
    opacity: 1;
    visibility: visible;
}
.section{
    background-color: #eee;
}

/* Navbar section begins */

#nav-section{
    background-color: #fff;
}
.navbar{
    width: 90%;
    margin: 25px auto;
    justify-content: space-between;
    align-content: center;
    display: flex;
}
#nav-logo{
    width: 160px;
    text-align: left;
    margin-top: 3.5px;
    align-self: center;
    position: relative;
}
.checkbtn{
    float: right;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}
#nav-links{
    position: relative;
    text-align: center;
    margin: 0px auto;
    padding: 0px;
}
#nav-links ul{
    list-style: none;
    display: block;
    position: relative;
    text-align: center;
    margin: 0px 0px;
    padding: 0;
}
#nav-links ul li{
    list-style: none;
    display: inline-block;
    position: relative;
    padding: 2px 5px;
}
#nav-links ul li .hidden-btn{
    display: none;
}
#nav-links ul li a{
    text-decoration: none;
    padding: 11px 6px 7px;
    color: #1a1a1a;
    font-size: 12px;
    font-weight: 400;
    opacity: 0.8;
    display: block;
    box-sizing: border-box;
}
#nav-links ul li .active-page{
    font-weight: 600;
    color: #1a1b1f;
}
#nav-links ul li.active-link::after{
    content: '';
    width: 100%;
    height: 2px;
    background: #f90;
    display: block;
    margin: auto;
}
.top-links::after{
    content: '';
    width: 0%;
    height: 2px;
    background: #f90;
    display: block;
    margin: auto;
    transition: 0.5s;
}
.top-links:hover::after{
    width: 100%;
}
.contact-btn{
    display: inline-block;
    padding: 12px 25px;
    border-radius: 0px;
    background-color: #f90;
    -webkit-transition: background-color 400ms ease, opacity 400 ease, color 400ms ease;
    transition: background-color 400ms ease, opacity 400ms ease, color 400ms ease;
    color: #fff;
    font-size: 12px;
    line-height: 20px;
    letter-spacing: 2px;
    text-decoration: none;
    text-transform: uppercase;
    box-sizing: border-box;
    border-radius: 5px;
}
button:hover, .contact-btn:hover{
    background-color: #811331;
    transition: 0.5s;
}
nav .bars{
    display: none;
}

/* Navbar section styling ends */

#banner-section{
    width: 90%;
    height: 450px;
    background-color: cadetblue;
    background-image: linear-gradient(to right, rgba(4, 9, 30, 0.4), rgba(4, 9, 30, 0.4)), url('../img/photo69.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    margin: 0px auto;
}
#intro-header{
    width: 50%;
    align-self: center;
    margin-right: auto;
    margin-left: auto;
}
#banner-heading{
    font-size: 3rem;
    line-height: 50px;
    font-weight: 600;
    color: #fff;
    text-align: center;
}

/* Main Content Begins */

.main-content{
    text-align: center;
    background-color: #fefefe;
    padding-top: 40px;
    padding-bottom: 100px;
}
.main-content *{
    box-sizing: border-box;
    font-family: 'Roboto';
    /* border: 1px solid black; */
}
.main-content-container{
    width: 100%;
    display: flex;
    flex-direction: row;
}
.main-content .fa{
    margin-right: 15px;
}
.nav-block{
    width: 25%;
    float: left;
}
.nav-block ul{
    width: 100%;
    border: 0.5px solid #d4d4d4;
    border-radius: 2px;
}
.nav-block ul li{
    display: block;
    border-top: 0.5px solid #d4d4d4;
    width: 100%;
    padding: 15px 25px;
    text-align: left;
}
.nav-block ul li a{
    text-decoration: none;
    color: #1a1b1f;
    font-size: 14px;
    font-weight: 500;
    line-height: 30px;
}
.nav-block ul li a:hover{
    color: mediumblue;
}
.nav-block .nav-block-header{
    background-color: #f90;
    padding: 35px 25px;
    text-align: left;
}
.nav-block .nav-block-header a{
    color: #fff;
    font-size: 22px;
    line-height: 35px;
    font-weight: 600;
}
.nav-block .nav-block-header a:hover{
    color: #fff;
}
.nav-block-header i{
    font-size: 22px;
    color: #fff;
}
.nav-block .nav-block-active{
    background-color: rgba(200, 200, 200, 0.2);
}
.nav-block .nav-block-active a{
    font-weight: 600;
}
.main-block{
    width: 75%;
}
.content{
    width: 95%;
    float: right;
    background-color: #f7f7f7;
    border: 1px solid #d4d4d4;
}
.content-header{
    width: 100%;
    background-color: rgba(200, 200, 200, 0.2);
    padding: 25px;
    text-align: left;
    border-bottom: 1px solid #d4d4d4;
}
.content-header h1{
    font-size: 16px;
    line-height: 30px;
    font-weight: 400;
}
.services-row{
    padding: 0;
    width: 100%;
    margin: 0;
}
.services-row *{
    box-sizing: border-box;
}
.services-row ul{
    display: grid;
    display: -ms-grid;
    grid-template-columns: repeat(auto-fit, minmax(250px,250px));
    -ms-grid-columns: 1fr 2rem 1fr 2rem 1fr;
    -ms-grid-rows: auto;
    grid-gap: 4rem;
    padding: 40px;
    list-style: none;
    justify-items: center;
    justify-content: center;
    -webkit-justify-content: center;
}
.services-row ul li{
    box-shadow: 0.1rem 0.1rem 1rem rgba(0, 0, 0, 0.1);
    border-radius: 3px;
}
.services-row ul li a{
    text-decoration: none;
}
.services-row ul li a figure{
    overflow: hidden;
    border-radius: 3px;
    position: relative;
}
.services-row ul li a figure img{
    width: 100%;
}
.services-row ul li a figure figcaption{
    position: absolute;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.7);
    padding-bottom: 2px;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    width: 100%;
}
.services-row ul li a figure figcaption h3{
    color: #fff;
    padding: 0.20rem;
    font-size: 0.70rem;
    font-weight: 400;
    text-align: center;
}
.services img:hover{
    opacity: 0.8;
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -o-transform: scale(1.1);
    transform: scale(1.1);
}
.services:active{
    opacity: 0.9;
}

/* Feedback Slideshow Styling Begins */

.feedback{
    box-sizing:border-box;
    padding-top: 20px;
    padding-bottom: 60px;
}
.feedback-label{
    width: 100%;
    display: flex;
    flex-direction: row;
}
.feedback label{
    margin-right: auto;
    margin-left: auto;
    left: 50%;
    justify-self: center;
}
.slideshow-container {
    max-width: 1000px;
    position: relative;
    margin: auto;
    border-radius: 5px;
}
.mySlides {
    display: none;
    box-sizing: border-box;
}
.feedback-wrap{
    padding-top: 40px;
    padding-bottom: 40px;
    text-align: center;
}
.feedback-wrap p{
    width: 70%;
    padding-top: 50px;
    padding-bottom: 100px;
    margin: 0px auto 30px;
    font-size: 16px;
    font-weight: 400;
    color: #1a1a1a;
    letter-spacing: 1px;
    word-spacing: 1px;
    line-height: 25px;
}
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: #1a1b1f;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}
.prev:hover, .next:hover {
  background-color: rgba(14, 10, 10, 0.8);
  color: #fff;
}
.feedback-person {
  color: #1a1b1f;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
  margin-left: -12px;
  margin-bottom: 20px;
}
.feedback-person h6{
    font-size: 11px;
    line-height: 25px;
    font-weight: 700;
}
.feedback-person p{
    font-size: 10px;
    line-height: 20px;
    font-weight: 400;
    opacity: 0.8;
}
.numbertext {
  color: #1a1b1f;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}
.active-slide, .dot:hover {
  background-color: #717171;
}
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}
@-webkit-keyframes fade{
  from {opacity: .4}
  to {opacity: 1}
}
@keyframes fade{
  from {opacity: .4}
  to {opacity: 1}
}

/* Feedback Slideshow Styling Ends */

/* Media Queries */

@media screen and (max-width: 890px) {
    .navbar{
        margin: 15px auto;
    }
    #nav-logo{
        width: 100px;
        top: 5px;
    }
    #nav-links ul li a{
        padding: 7px 4px 1px;
        color: #1a1a1a;
        font-size: 10px;
        line-height: 20px;
        font-weight: 400;
        opacity: 0.8;
    }
    .contact-btn{
        padding: 10px 20px;
        font-size: 10px;
    }

    #banner-section{
        height: 300px;
    }
    #intro-header{
        width: 80%;
    }
    #banner-heading{
        font-size: 2rem;
        line-height: 2.5rem;
    }
}

@media screen and (max-width: 767px){
    .btn-text{
        line-height: 15px;
        font-size: 10px;
        word-spacing: 1px;
    }
    label{
        line-height: 15px;
        font-size: 11px;
    }
    .navbar{
        display: grid;
        width: 90%;
        height: 30px;
        margin: 15px auto;;
    }
    #nav-logo{
        width: 120px;
        margin-top: -7px;
        align-self: center;
    }
    #check{
        display: none;
    }
    nav .bars{
        display: block;
        position: absolute;
        top: 25px;
        right: 26px;
        width: 20px;
    }
    #check:checked ~ #nav-links{
        left: 0;
    }
    #nav-links ul li .hidden-btn{
        display: block;
        padding: 12px 25px;
        color: #fff;
        background-color: #f90;
    }
    #nav-links ul li .hidden-btn:hover, #nav-links ul li .hidden-btn:active{
        background-color: #811331;
        transition: 0.5s;
    }
    .hidden-btn2{
        display: none;
    }
    #nav-links{
        display: block;
        position: fixed;
        width: 100vw;
        height: 100vh;
        background: #fff;
        border-top: 1px solid #f90;
        top: 57px;
        left: -105%;
        z-index: 2;
        transition: all 0.5s;
    }
    #nav-links ul{
        display: flex;
        height: 100%;
        flex-direction: column;
    }
    #nav-links ul li{
        padding: 15px 25px;
        margin: 4px auto;
    }
    #nav-links ul li a{
        padding: 12px 6px;
        color: #000;
        font-size: 12px;
        line-height: 20px;
        font-weight: 500;
        opacity: 0.8;
    }
    #nav-links ul li a.active-page{
        color: #f90;
    }
    .active-page::after{
        display: none;
    }
    
    .top-links::after{
        display: none;
    }
    #nav-links ul li a:hover, #nav-links ul li a:active{
        color: #f90;
    }

    #banner-heading{
        font-size: 2rem;
        line-height: 2.5rem;
    }

    .main-content-container{
        flex-direction: column;
    }
    .nav-block{
        width: 85%;
        float: left;
        margin-bottom: 40px;
    }
    .main-block{
        width: 100%;
    }
    .content{
        width: 100%;
    }
}

@media screen and (max-width: 479px) {
    .btn-text{
        line-height: 12px;
        font-size: 8px;
        word-spacing: 1px;
    }
    label{
        line-height: 15px;
        font-size: 9px;
    }
}