*{
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}
body{
    background-color: white;
    color: #1a1b1f;
}
.container-fluid{
    width: 100%;
}
.container{
    width: 88%;
    margin-left: auto;
    margin-right: auto;
}
.btn-text{
    line-height: 1.25rem;
    font-size: 0.75rem;
    letter-spacing: 0.125rem;
    word-spacing: 0.125rem;
    color: #fff;
}
.button-orange{
    display: block;
    height: auto;
    width: auto;
    background-color: #f90;
    border: none;
    margin: 0px auto;
    padding: 1rem 2.1875rem;
    border-radius: 5px;   
}

/* CTA and Footer begins */

#cta{
    height: auto;
    background-color: skyblue;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.9)), url('../../img/photo82.jpg');
    background-position: center;
    background-size: cover;
    padding-top: 120px;
    padding-bottom: 120px;
    box-sizing: border-box;
}
#cta-wrap{
    width: 70%;
    margin: auto auto;
    padding: 120px auto 130px;
    box-sizing: border-box;
    text-align: center;
}
#block{
    margin: 0px auto;
}
#cta-text{
    margin-bottom: 2rem;
}
#cta-text h2{
    font-size: 2.25rem;
    font-weight: 400;
    line-height: 3.125rem;
    letter-spacing: 0.0625rem;
    word-spacing: 0.0625rem;
    color: #fff;
    margin: 10px auto 15px auto;
}
#cta-text p{
    font-size: 1.25rem;
    font-weight: 400;
    line-height: 1.875rem;
    color: #fff;
    margin: 0px auto 10px auto;
}
#cta-wrap button{
    padding: 1rem 2.1875rem;
}
#cta button p{
    font-size: 0.875rem;
    line-height: 1.625rem;
}
footer{
    background-color: #eaddca;
    color: #6f6f6f;
    padding-top: 40px;
}
#footer-wrap{
    width: 100%;
    padding: 0px 10px;
    box-sizing: border-box;
}
#info-wrap{
    margin-bottom: 50px;
}
#info-wrap h2{
    font-size: 20px;
    font-weight: 900;
    line-height: 30px;
    font-family: 'Montserrat, sans-serif';
    color: #7b3200;
}
#info-wrap p{
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
}
#info-wrap ul{
    display: block;
    list-style-type: none;
}
.row2{
    display: grid;
    margin-bottom: 20px;
    grid-template-columns: 1.3fr 1.9fr 1fr 1fr;
    grid-template-rows: auto;
    grid-gap: 20px;
    grid-template-areas: "logo contact hours info";
}
.col-logo{
    grid-area: logo;
    align-self: flex-start;
}
.col-contact{
    grid-area: contact;
    align-self: flex-start;
}
.col-office-hours{
    grid-area: hours;
    align-self: flex-start;
}
.col-other-info{
    grid-area: info;
    align-self: flex-start;
    justify-self: right;
    padding-right: 30px;
}
#logo{
    display: flex;
    box-sizing: border-box;
    overflow: hidden;
}
#logo img{
    display: inline-block;
    margin-top: 0px;
    top: 0px;
}
#footer-company-name{
    display: inline-block;
    margin: 0px 5px;
    align-self: center;
}
#footer-company-name h2{
    color: #7b3200; 
    font-size: 30px;
    font-family: 'Times New Roman', Times, serif; 
    font-weight: 700;
    line-height: 30px;
    margin: 0px;
}
#footer-company-name p{
    color: #7b3200; 
    font-size: 12px;
    font-family: 'Times New Roman', Times, serif; 
    font-weight: 500;
    line-height: 12px;
    margin: 0px 0px 0px 3px;
}
.about-omorofan{
    padding-top: 15px;
    text-align: justify;
}
.about-omorofan p{
    font-family: Georgia, 'Times New Roman', serif;
    font-size: 12px;
    font-weight: 400;
    line-height: 28px;
    opacity: 0.9;
}
#contact{
    padding-left: 50px;
}
#contact table{
    max-width: 100%;
    text-align: left;
    line-height: 28px;
}
table, td{
    border-collapse: collapse;
    text-align: left;
}
#contact table p{
    font-family: Georgia, 'Times New Roman', serif;
    font-size: 12px;
    font-weight: 400;
    line-height: 28px;
    margin-bottom: 0px;
}
#contact table .up{
    display: flex;
    align-items: flex-start;
}
#contact table .fa-map-marker{
    margin-top: 8px;
}
#office-hours{
    padding-left: 50px;
}
#office-hours p{
    font-family: 'Times New Roman', Times, serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 28px;
    margin-bottom: 5px;
}
#other-info a{
    text-decoration: none;
    color: #6f6f6f;
    font-family: 'Times New Roman', Times, serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 28px;
}
#other-info a:hover{
    text-decoration: underline;
}
.footer-divider{
    background-color: #a4a4a4;
    height: 1px;
    width: 100%;
    margin: 0px auto;
}
#copyright{
    padding: 8px;
    width: 100%;
    bottom: 0px;
    display: flex;
}
#copyright-wrap{
    text-align: center;
    width: auto;
    margin: auto;
}
#copyright img{
    height: 19px;
    margin: auto 0px;
    align-self: center;
    justify-self: center;
    display: inline-flex;
}
#copyright p{
    font-size: 10px;
    font-weight: 400;
    width: auto 0px;
    display: inline-flex;
    line-height: 18px;
    color: #6f6f6f;
    margin: auto;
    align-self: center;
}

/* CTA and Footer ends */

/* Media Queries */

@media screen and (max-width: 890px) {
    .contact-btn{
        padding: 10px 20px;
        font-size: 10px;
    }
    #office-hours{
        padding-left: 10px;
    }
}
@media screen and (max-width: 767px){
    .btn-text, #cta .btn-text{
        line-height: 15px;
        font-size: 10px;
        word-spacing: 1px;
    }
    .button-orange, #cta .button-orange{
        margin: 0px auto;
        padding: 12px 20px;
        border-radius: 5px;   
    }
    .row2{
        display: grid;
        margin-bottom: 20px;
        grid-template-columns: 1fr;
        grid-template-rows: auto auto auto auto;
        grid-row-gap: 30px;
        grid-template-areas: 
            "logo"
            "contact"
            "hours"
            "info";
    }
    .col-logo{
        grid-area: logo;
        align-self: flex-start;
        justify-self: center;
    }
    .col-contact{
        grid-area: contact;
        align-self: flex-start;
        justify-self: left;
        text-align: left;
    }
    .col-office-hours{
        grid-area: hours;
        align-self: flex-start;
        justify-self: left;
        text-align: left;
    }
    .col-other-info{
        grid-area: info;
        align-self: flex-start;
        justify-self: left;
        text-align: left;
        padding-right: 0px;
    }
    #contact{
        padding-left: 0px;
    }
    #office-hours{
        padding-left: 0px;
    }
    #copyright p{
        font-size: 8px;
    }
}

@media screen and (max-width: 479px) {
    .btn-text{
        line-height: 12px;
        font-size: 8px;
        word-spacing: 1px;
    }
    .button-orange{
        margin: 0px auto;
        padding: 12px 20px;
        border-radius: 5px;   
    }
}